<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <select ng-model="secilen">

        <option ng-repeat="x in cars" value="{{x.marka}}">{{x.marka}}</option>

        </option>

    </select>

    <br>

    <select ng-model="secim" ng-options ="x.marka for x in cars">
    </select>

    <h1>{{secim.marka}} sectiniz</h1>
    <h1>arabanın rengi {{secim.renk}}</h1>






    <h1>{{secilen}} seçtiniz</h1>

</div>



<script>

    var app=angular.module('myApp' , []);
    app.controller('myCtrl' , function ($scope) {
        $scope.cars=[

            {marka:"ford fiesta" ,renk:"beyaz"},
            {marka:"citroen" ,renk:"siyah"},
            {marka:"renault master" ,renk:"kırmızı"}



        ];
    });



</script>


</body>
</html>